@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

body {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr 0.25fr;
  font-family: "Quicksand", sans-serif;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  background-color: rgb(77, 172, 255);
  color: white;
}

li img {
  height: 1rem;
}

li {
  list-style-type: none;
  padding: 5px;
}

.logo {
  text-align: center;
  padding: 5px;
  font-size: 1.8rem;
}

.top-list {
  margin: 40px 0px;
}

ul {
  padding-left: 10px;
}

.header {
  box-shadow: 5px 5px 5px;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.userlogo {
  width: 30px;
  height: 30px;
}

.top-header {
  display: grid;
  grid-template-columns: 0.5fr 7fr 0.5fr 0.5fr 3fr;
  gap: 20px;
  align-items: center;
}

.search-box {
  background-color: rgb(224, 223, 223);
  height: 40%;
  border: none;
  border-radius: 5px;
  margin-right: 50px;
}

.search-logo {
  padding-left: 20px;
}

.bottom-header {
  display: grid;
  grid-template-columns: 1fr 4fr 3fr;
}

.nav-list {
  margin-top: auto;
  margin-bottom: auto;
}

.nav-list ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 10px;
}

.nav-list ul li {
  margin: 0px 10px;
  background-color: rgb(77, 172, 255);
  color: white;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 10px;
}

.bottom-header img {
  height: 80px;
  width: 80px;
  margin-left: 20px;
}

.welcome-msg {
  margin-top: 20px;
}

.welcome-msg p {
  margin: 5px 0px;
  font-weight: 900;
}

p:first-child {
  font-size: 0.7rem;
}
